body{
    display: flex;
    color: var(--tg-theme-text-color);
    background-color: black;
    
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
    overflow-x: hidden;

 }

html,
body {
  height: 100%;
}

 #usercard{
    text-align: center;
 }

.head_box {
    
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    min-height: 100%;
}



#avatar {
    margin-left: 5%;
    grid-column: 2;
    grid-row: 1;
    z-index: 0;
}

#avatar>img{
    height: 59px;
    width: 59px;
}

#avatar>h1{
    /* ADMINISTRATOR */

    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 15px;
    text-transform: uppercase;
    width: 25%;

    color: #FFFFFF;
    margin-top: -0.1%;


}

.head_box>p{
    display: flex;
    align-content: center;
    justify-content: space-between;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    min-width: 110px;
    height: 28px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 8;
    grid-row: 1;
    z-index: 1;
}

.w3-yellow {
    display: flex;
    flex-direction: row-reverse;
}

.w3-yellow>h7 {
    align-self: center;
    font-family: 'Atomic Age';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;

    color: #000000;
}

#cc_balance {
    /* balance */
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: #F0DB20;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    min-width: 110px;
    height: 28px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 6;
    grid-row: 1;
    z-index: 1;
}

#cc_balance>img {
    margin-right: 5%;
    width: 35px;
    height: 28px;
    left: 1px;
    top: 0px;
}

#cc_balance>p {
    margin-right: 15px;
    align-self: center;
    font-family: 'Atomic Age';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;

    color: #000000;
}

.bg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
}

#asphalt {
    width: 100%;
    z-index: 0;
      grid-column: 1 / span 8;
      grid-row: 1; 
      z-index: 1;
      mix-blend-mode: hard-light;


}


.coinDiv {
    display: flex;

    justify-content: center;
}

#coins {
    /* 10533 */
    font-family: 'Atomic Age';
    font-style: normal;
    font-weight: 400;
    font-size: 32.3403px;
    line-height: 43px;

    color: #FFF500;

    text-shadow: 0px 0px 33.7017px rgba(255, 255, 255, 0.45);

}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 80px;
    padding-bottom: 10%;
    margin-top: 80px;
    background-color: #000000c2;
}

.wrapper {
    min-height: 100%;
}

main {
    margin-top: 5%;
    position: relative;
    min-height: 100%;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.req {
    /* Rectangle 13 */
margin-top: 5%;
display: flex;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
box-sizing: border-box;
background: rgba(27, 27, 27, 0.99);
border: 1px solid #FAFF00;
border-radius: 9px;
width: 385px;
height: 50px;

}

.req>p {
    /* Пригласить трёх друзей */


padding-left: 5%;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2em;

color: #FFFFFF;


}

#go {
    /* Object (2) 2 */

background: #FAFF00;
box-shadow: inset 0px 4px 4.2px rgba(0, 0, 0, 0.69);
border-radius: 8px;
width: 56px;
height: 35px;
align-self: center;
margin-right: 5%;

}
#go.clicked {
    background-color: black !important;
    color: white;
}

#foot_btns>button {
    /* Rectangle 12 */

background: #F0DB20;
border: 1px solid #F0DB20;
border-radius: 6px;
width: 43px;
height: 43px;
margin-left: 15px;
transition: 300ms;
}

#io {
    margin-left: 0 !important;
}

#foot_btns>button>a>img {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 30px;

}

.btn_active_fot {
    border: 1px solid #ffffff !important;
}

#foot_btns>button:active {
    box-shadow: inset 0px 4px 100px rgba(0, 0, 0, 0.69);
}


